.bg-img {
    background: url(https://images.pexels.com/photos/273230/pexels-photo-273230.jpeg?cs=srgb&dl=arts-build-close-up-273230.jpg&fm=jpg);
    background-size: cover;
    height: 100vh;
    z-index: -1;
}

#login {
    left: calc(50% - 150px);
    position: absolute;
    background: white;
    border: solid 1px #ccc;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 105px -2px rgba(0, 0, 0, 0.42);
}

input,
button {
    margin: 10px;
}

.input {
    width: 200px;
}