.main-body {
    background: #eee;
    height: 100vh;
}

.container {
    margin-top: 100px;
    left: 0;
    position: relative;
}

.card {
    margin: 10px;
}

.card:hover {
    box-shadow: 0px 0px 105px -2px rgba(0, 0, 0, 0.42);
}

.column {
    padding: 0;
}