img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

body {
    height: 100vh;
    background: #eee;
}

.menu {
    height: calc(100vh - 42px);
    padding: 20px;
    background: white;
}

.shadow {
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.42);
}

.section {
    padding: 15px;
    margin: 10px;
    background: white;
}